<div class="section section-skills">
  <div class="skills section-title">Химия</div>
  <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
  <mat-expansion-panel *ngFor="let topic of topics1">
    <mat-expansion-panel-header>
      {{topic.title}}
    </mat-expansion-panel-header>

    <p class="mat-expansion-panel-content">{{topic.description}}</p>

  </mat-expansion-panel>
</div>
<div class="section section-skills">
  <div class="skills section-title">Физика</div>
  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
  <mat-expansion-panel *ngFor="let topic of topics2">
    <mat-expansion-panel-header>
      {{topic.title}}
    </mat-expansion-panel-header>

    <p class="mat-expansion-panel-content">{{topic.description}}</p>

  </mat-expansion-panel>
</div>
<div class="section section-skills">
  <div class="skills section-title">Математика</div>
  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
  <mat-expansion-panel *ngFor="let topic of topics3">
    <mat-expansion-panel-header>
      {{topic.title}}
    </mat-expansion-panel-header>

    <p class="mat-expansion-panel-content">{{topic.description}}</p>

  </mat-expansion-panel>
</div>