<footer class="footer">
  <div class="app__container footer__container">
    <nav class="footer__nav flex-jcc">
      <div routerLink="/vk" class="disable-selection-btn footer__link">ВКонтакте</div>
      <div routerLink="/facebook" class="disable-selection-btn footer__link">Facebook</div>
      <div routerLink="/telegram" class="disable-selection-btn footer__link">Telegram</div>
    </nav>
    <div class="footer__copyright ta-center">
      &copy; Frumentum Imperio | Hack.Moscow 2019
    </div>
  </div>
</footer>