<footer class="footer">
  <div class="app__container footer__container">
    <nav class="footer__nav flex-jcc">
      <div routerLink="/contacts" class="disable-selection-btn footer__link">Контакты</div>
      <div routerLink="/documents" class="disable-selection-btn footer__link">Документы</div>
      <div routerLink="/tax" class="disable-selection-btn footer__link">Налоговые вопросы</div>
    </nav>
    <div class="footer__copyright ta-center">
      <span class="footer__copyright--link">info@elevator.ru</span> © Elevator
      Ltd. 2019
    </div>
  </div>
</footer>
