<header class="header">
  <div class="app__container">
    <nav class="nav flex-aijc">
      <div [routerLink]="['/landing']" class="nav__item nav__logo unselectable disable-selection-btn"></div>

      <div class="link-holder unselectable disable-selection-btn"
           [routerLink]="['/profile']"
           routerLinkActive="link-holder__active">
        Профиль
      </div>
      <div class="link-holder unselectable disable-selection-btn"
           [routerLink]="['/test']"
           routerLinkActive="link-holder__active">
        Тесты
      </div>
      <div class="link-holder unselectable disable-selection-btn"
           [routerLink]="['/map']"
           routerLinkActive="link-holder__active">
        Карта
      </div>
      <div class="link-holder unselectable disable-selection-btn"
           [routerLink]="['/rate']"
           routerLinkActive="link-holder__active">
        Рейтинг
      </div>
      <div class="link-holder unselectable disable-selection-btn"
           [routerLink]="['/tasks']"
           routerLinkActive="link-holder__active">
        Задачи
      </div>

      <span class="spacer"></span>
      <button class="link-holder  button nav__button" *ngIf="authService.currentUser$ | async; else login"
              mat-button
              [matMenuTriggerFor]="menu">
        <div class="menu">
          <div class="menu-icon"></div>
          <div class="menu-text">Меню</div>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/balance">Баланс</button>
        <button mat-menu-item routerLink="/investment">Мои инвестиции</button>
        <button mat-menu-item routerLink="/pre-orders">Мои предзаказы</button>
        <button mat-menu-item (click)="onLogout()">Выход</button>
      </mat-menu>
      <ng-template #login>
        <div class="link-holder unselectable disable-selection-btn" [routerLink]="['/login']">
          <div class="login-btn__icon"></div>
          <div class="login-btn__text">Войти</div>
        </div>
      </ng-template>
    </nav>
  </div>
</header>
