<div class="profile">
    <div class="section section_about-you">
        <div class="about-you section-title">О Вас</div>

        <div class="flex-container person-card">
            <div class="img-wrapper" style="background-image: url(../../assets/img/musk.jpg);"></div>


            <div class="choosen_achivement">
                <i class="achievement-icon material-icons">how_to_reg</i>
            </div>

            <div class="flex-container user-information">
                <div class="user-name">
                    <span class="first-name">Илон</span>
                    <span class="last-name">Маск</span>
                </div>

                <div class="flex-container rate">
                    <span class="rate-title">Рейтинг: </span>
                    <span class="rate-value">
                        <i class="rate-star material-icons">star</i>
                        <i class="rate-star material-icons">star</i>
                        <i class="rate-star material-icons">star</i>
                        <i class="rate-star material-icons">star</i>
                        <i class="rate-star material-icons">star</i>
                    </span>
                </div>
            </div>
        </div>

        <div class="main-info flex-container">
            <div class="main-info_item"><span class="achievements-count">#</span> Достижений</div>
            <div class="main-info_item"><span class="skills-count">#</span> Навыков</div>
            <div class="main-info_item"><span class="best-field">Химия</span> – <span class="field-percentage">%</span>
                освоено</div>
        </div>

    </div>
    <div class="section section_achievements">
        <div class="achievements section-title">Достижения</div>
        <div class="grid-container achievements-content">
            <div class="achievement">
                <i class="achievement-icon material-icons">done</i>
                <div class="achievement-name">Первые шаги</div>
                <div class="achievement-description">Пройти базовый урок в любом из направлений</div>
            </div>
            <div class="achievement">
                <i class="achievement-icon material-icons">menu_book</i>
                <div class="achievement-name">Жажда знаний</div>
                <div class="achievement-description">Суммарно потратить на обучение не менее 100 часов</div>
            </div>
            <div class="achievement">
                <i class="achievement-icon material-icons">replay</i>
                <div class="achievement-name">Повторение – мать учения</div>
                <div class="achievement-description">Повторно пройти один из уроков</div>
            </div>
            <div class="achievement">
                <i class="achievement-icon material-icons">query_builder</i>
                <div class="achievement-name">Марафонец</div>
                <div class="achievement-description">Непрерывно учиться не менее 10 часов подряд</div>
            </div>
        </div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>Все ваши достижения</div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-content">
                <div class="grid-container achievements-content">
                    <div class="achievement">
                        <i class="achievement-icon material-icons">done</i>
                        <div class="achievement-name">Первые шаги</div>
                        <div class="achievement-description">Пройти базовый урок в любом из направлений</div>
                    </div>
                    <div class="achievement">
                        <i class="achievement-icon material-icons">menu_book</i>
                        <div class="achievement-name">Жажда знаний</div>
                        <div class="achievement-description">Суммарно потратить на обучение не менее 100 часов</div>
                    </div>
                    <div class="achievement">
                        <i class="achievement-icon material-icons">replay</i>
                        <div class="achievement-name">Повторение – мать учения</div>
                        <div class="achievement-description">Повторно пройти один из уроков</div>
                    </div>
                    <div class="achievement">
                        <i class="achievement-icon material-icons">query_builder</i>
                        <div class="achievement-name">Марафонец</div>
                        <div class="achievement-description">Непрерывно учиться не менее 10 часов подряд</div>
                    </div>
                    <div class="achievement">
                        <i class="achievement-icon material-icons">how_to_reg</i>
                        <div class="achievement-name">Подкованный</div>
                        <div class="achievement-description">При прохождении
                            вступительного теста ответить правильно на все вопросы</div>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </div>
    <div class="section section-skills">
        <div class="skills section-title">Приобретенные навыки</div>
    </div>
</div>