// ---------------------- Variables ----------------------
$gutter: 30px;

$main-bg: #222329;
$main-bg-light: lighten($main-bg, 60%);
$content-bg: lighten($main-bg, 80%);
$accent: #3f51b5;
$transition-time: .4s;

// Color gradation
$common: grey;
$rare: green;
$unique: $accent;
$epic: rgb(133, 0, 160);
$legendary: orange;

$person-card-color: $legendary;

// ------------------------ Styles ------------------------
.grid-container {
    display: grid;
}
.flex-container {
    display: flex;
}
.profile {
    font-size: 18px;
    color:  $main-bg;
    padding: $gutter;
    background-color: $content-bg;
}
.img-wrapper {
    margin-right: $gutter;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 10em;
    background-size: cover;
    background-position: center;
}
.button {
    font-size: 18px;
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: $accent;
    padding: 20px 60px;
    border-radius: 3px;
	text-align: center;
    position: relative;
    font-weight: bold;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    &::after {
        transition: background-color .2s ease;
        position: absolute;
        content: '';
        height: 4px;
        bottom: 0;
        width: 100%;
        background-color: darken($accent, 50%);
        opacity: .15;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        left: 0;
    }
    &:focus, &:hover {
        text-decoration: none;
				outline: none;
        color: #fff;
    }
    &:hover {
        background-color: lighten($accent, 3%);
        &::after {
            opacity: .10;
        }
    }
    &:active {
				background-color: darken($accent, 3%);
				outline: none;
        &::after {
            opacity: .20;
        }
	}
}


.section {
    margin-bottom: $gutter*2;
    &_about-you {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-title {
        padding-bottom: $gutter;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        width: 100%;
        &:before, &:after {
            content: '';
            border-bottom: 2px solid $main-bg;
            margin: auto 0;
        }
        &:before {
            width: 50px;
            margin-right: $gutter;
        }
        &:after {
            flex-grow: 1;
            margin-left: $gutter;
        }
    }
}
.person-card {
    align-items: center;
    padding: 5px;
    border-radius: 10em;
    background-color: $person-card-color;
}
.user-name {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: $gutter/4;
    span:nth-last-child(1) {
        margin-left: .5em;
    }
}
.rate {
    align-items: center;
    &-title {
        margin-right: 0.5em;
    }
}
.rate-star {
    color: $content-bg;
}
.user-information {
    flex-direction: column;
    margin: 0 $gutter;
}
.main-info {
    color: $content-bg;
    border-radius: 3px;
    margin-top: $gutter;
    padding: $gutter 0;
    width: 100%;
    justify-content: space-around;
    background-color: $accent;
    span {
        font-size: 24px;
        font-weight: bold;
    }
}
.achievement {
    padding: $gutter;
    text-align: center;
    margin: 0 $gutter;
    border: 1px solid rgba($main-bg, .5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-icon {
        font-size: 50px;
    }
    &-name {
        margin: $gutter/2 0;
    }
}
.achievements-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: $gutter 0;
    gap: $gutter;
}
.btn_achievements {
    justify-content: center;
    align-items: center;
}
.achievement-name {
    font-weight: bold;
}


.mat-expansion-panel {
    background-color: $accent;
    color: #fff;
    transition: all $transition-time ease;
    &.mat-expanded {
        background-color: #fff;
        color: $main-bg;
    }
}
.mat-expansion-panel-header {
    font-size: 20px;
}