<div class="profile">
    <div class="section_about-you">
        <div class="about-you section-title">О Вас</div>
        <div class="img-wrapper">
            <p><i>Аватар профиля</i></p>
            <!-- Вместо этого добавить изображение: <img src="" alt="" class="img-responsove avatar"> -->
        </div>
        <div class="user-name">
            <p class="first-name">Виллентретенмерт</p>
            <p class="last-name">Яфмамамиасондович</p>
        </div>

        <p class="rate">Рейтинг:</p>
        <P class="rate-value">5 звезд</P>


    </div>
    <div class="section_achievements">
        <div class="achievements section-title">Достижения</div>
        <app-carousel></app-carousel>
    </div>
    <div class="section-skills">
        <div class="skills section-title">Приобретенные навыки</div>
    </div>
</div>