<div class="profile">
    <div class="section section_about-you">
        <div class="about-you section-title">О Вас</div>
        <div class="img-wrapper">
            <p><i>Аватар профиля</i></p>
            <!-- Вместо этого добавить изображение: <img src="" alt="" class="img-responsove avatar"> -->
        </div>

        <div class="flex-container user-information">
            <div class="user-name">
                <span class="first-name">Виллентретенмерт</span>
                <span class="last-name">Яфмамиасондович</span>
            </div>

            <div class="rate">
                <span class="rate-title">Рейтинг:</span>
                <span class="rate-value">5 звезд (сделать нормальные звезды)</span>
            </div>
        </div>

        <div class="main-info flex-container">
            <div class="main-info_item"><span class="achievements-count">#</span> Достижений</div>
            <div class="main-info_item"><span class="skills-count">#</span> Навыков</div>
            <div class="main-info_item"><span class="best-field">Химия</span> – <span class="field-percentage">%</span>
                освоено</div>
        </div>

    </div>
    <div class="section section_achievements">
        <div class="achievements section-title">Достижения</div>
        <div class="flex-container achievements-content">
            <div class="achievement">
                <div class="ahievement-name">Достижение 1</div>
                <div class="achievement-description">Описание достижения</div>
            </div>
            <div class="achievement">
                <div class="ahievement-name">Достижение 2</div>
                <div class="achievement-description">Описание достижения</div>
            </div>
            <div class="achievement">
                <div class="ahievement-name">Достижение 3</div>
                <div class="achievement-description">Описание достижения</div>
            </div>
            <button class="button btn_achievements">Все достижения</button>
        </div>
    </div>
    <div class="section section-skills">
        <div class="skills section-title">Приобретенные навыки</div>
    </div>
</div>