<div class="home-content">

    <h1 class="header">Future of Education</h1>
    <p class="info">Добро пожаловать в наше веб-приложение для изучения науки!</p>

    <p class="home-text">Если ты у нас впервые, то тебе стоит пройти вступительный тест и оценить свой уровень знаний.
    </p>
    <p class="home-text">После прохождения теста ты получишь персональные рекомендации по выбору направления обучения.
    </p>
    <p class="home-text">Скорее жми на кнопку ниже, чтобы начать!</p>

    <div class="button-wrapper flex-container">
        <button class="button home_button">Начать тест!</button>
    </div>
</div>