<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

<mat-horizontal-stepper [linear]="isLinear" #stepper>

    <mat-step>
      <ng-template matStepLabel>Математика</ng-template>
      <div class="example-h2">Нравится ли вам математика?</div>

      <mat-radio-group formControlName="math" required>
        <div style="height: 20px"></div>
        <mat-radio-button class="example-margin" value="Да">Да</mat-radio-button>
        <div style="height: 20px"></div>
        <mat-radio-button class="example-margin" value="Нет">Нет</mat-radio-button>
      </mat-radio-group>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Русский язык</ng-template>
      <div class="example-h2">Нравится ли вам русский язык?</div>

      <mat-radio-group formControlName="rush" required>
        <div style="height: 20px"></div>
        <mat-radio-button class="example-margin" value="Да">Да</mat-radio-button>
        <div style="height: 20px"></div>
        <mat-radio-button class="example-margin" value="Нет">Нет</mat-radio-button>
      </mat-radio-group>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Физика</ng-template>
      <div class="example-h2">Нравится ли вам физика?</div>

      <mat-radio-group formControlName="physic" required>
        <div style="height: 20px"></div>
        <mat-radio-button class="example-margin" value="Да">Да</mat-radio-button>
        <div style="height: 20px"></div>
        <mat-radio-button class="example-margin" value="Нет">Нет</mat-radio-button>
      </mat-radio-group>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Отправить на проверку?
      <div style="height: 20px"></div>
      <div>
        <button mat-button [disabled]="!profileForm.valid"  color="primary" type="submit">Отправить</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>
</form>
