:root {
  --app-small-gap: 0px;
  --app-medium-gap: 0px;
}

.app__container {
  max-width: 1124px;
  margin: 0 auto;
}



.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cont{
  flex: 1 1 0;
}
@media screen and (max-width: 1124px) {
  .app__container {
    padding: var(--app-medium-gap);
  }
}
