<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div class="form-container">
    <div>
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName" required>
        <mat-error *ngIf="profileForm.get('firstName').invalid">{{getErrorMessage('firstName')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email ID" formControlName="email" required>
        <mat-error *ngIf="profileForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" formControlName="country" placeholder="Country" aria-label="Number" matInput [matAutocomplete]="country" required>
        <mat-error *ngIf="profileForm.get('country').invalid">{{getErrorMessage('country')}}</mat-error>
        <mat-autocomplete #country="matAutocomplete">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{country}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="tel" matInput placeholder="Phone number" formControlName="phone" required>
        <mat-error *ngIf="profileForm.get('phone').invalid">{{getErrorMessage('phone')}}</mat-error>
      </mat-form-field>
      <button type="reset" mat-button color="gray">Reset all</button>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName" required>
        <mat-error *ngIf="profileForm.get('lastName').invalid">{{getErrorMessage('lastName')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Your User ID" formControlName="ID" required>
        <mat-error *ngIf="profileForm.get('ID').invalid">{{getErrorMessage('ID')}}</mat-error>
      </mat-form-field>

      <div class="form-container__address">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="State" formControlName="state" aria-label="Number" matInput [matAutocomplete]="State" required>
          <mat-error *ngIf="profileForm.get('state').invalid">{{getErrorMessage('state')}}</mat-error>
          <mat-autocomplete #State="matAutocomplete">
            <mat-option *ngFor="let option of state" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="City" formControlName="city" aria-label="Number" matInput [matAutocomplete]="City" required>
          <mat-error *ngIf="profileForm.get('city').invalid">{{getErrorMessage('city')}}</mat-error>
          <mat-autocomplete #City="matAutocomplete">
            <mat-option *ngFor="let option of city" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput placeholder="Reference code" formControlName="reference" required>
        <mat-error *ngIf="profileForm.get('reference').invalid">{{getErrorMessage('reference')}}</mat-error>
      </mat-form-field>

      <button type="submit" [disabled]="!profileForm.valid" mat-raised-button color="primary">Continue</button>

    </div>

  </div>
</form>
